<%- include('header'); -%>

    <h1>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium, harum? Voluptate, nemo modi dicta nobis minima fuga eligendi impedit sed asperiores dolorum, odio accusamus, assumenda id esse ipsam minus veniam at perspiciatis repellat veritatis?</h1>

    
<%- include('footer'); -%>